.picture {
    display: flex;
    justify-content: space-around;
}
img.img-fluid {
    margin: 1%;
    width: 70%;
}
a.picture1 {
    display: grid;
}
.picture-2 {
    display: flex;
    width: 80%;
    margin: 10%;
    justify-content: space-around;
}