
.products-item {
    padding: 5%;
}
.products-list{
    display: flex;
}
a.product2 {
    display: flex;
    margin: 2%
}

.product2-pic {
    max-width: 80%;
    height: auto;
}
.products-2 {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    margin: 2%;
}
.Product3 {
    display: flex;
}
img.card-img-top {height: 27%;}
.Product3-infor {
    display: flex;
    justify-content: space-between;
}
img.img-fluid.rounded-start {
    height: 100%;
}